@(message: String)

@main("Secret Santa App") {
	<h3 id="msg">@message</h3>
	<div id="data">
		<table id="dataTable">
			<tr>
				<td>#</td>
				<td>Name</td>
				<td>E-Mail</td>
			</tr>
			<tr>
				<td>1</td>
				<td><input type="text" id="name" /></td>
     		<td><input type="text" id="email" /></td>
     		<td><input type="button" id="delButton" value="Delete" onclick="deleteRow(this)" /></td>
    		<td><input type="button" id="addMoreButton" value="Add" onclick="insRow() "/></td>
    	</tr>
  	</table>
  	<br />
  	<br/>
  	<button id="run" onclick="run()">Done! Send Secret Santa emails ...</button>
  </div>
}
